.page.theme_light {
  --main-color: #353430;
  --main-bg-color: #fff1f7;
  --main-bg-image: url(../images/cover-image-light.png);
  --main-font: "IBM Plex Mono", Monospace;
  --main-accent-color: #ff8dcb;
  --main-title-color: #ffc2e6;
  --main-title-shadow-color: #ff0070;
  --subtitle-font-color: #353430;
  --section-color: #353430;
  --decoration-color: #353430;
  --button: #353430;
  --hover: rgba(53, 52, 48, 0.4);
}

.theme_light .secret::after {
  display: none;
}

.theme_light .secret::before {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #353430;
    --main-bg-color: #fff1f7;
    --main-bg-image: url(../images/cover-image-light.png);
    --main-font: "IBM Plex Mono", Monospace;
    --main-accent-color: #ff8dcb;
    --main-title-color: #ffc2e6;
    --main-title-shadow-color: #ff0070;
    --subtitle-font-color: #353430;
    --section-color: #353430;
    --decoration-color: #353430;
    --button: #353430;
    --hover: rgba(53, 52, 48, 0.4);
  }

  .theme_light .secret::after {
    display: none;
  }

  .theme_light .secret::before {
    display: none;
  }

  .theme_auto .secret::after {
    display: none;
  }

  .theme_auto .secret::before {
    display: none;
  }
}
