/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--main-color);
  background-image: var(--main-bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--main-bg-color);
}

/*Desktop*/
.header {
  margin: 0 auto;
  padding: 20px;
  max-inline-size: 1440px;
  block-size: max(668px, 100vh);
  margin-block-end: 60px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decoration-color);
  border-inline-start: 1px solid var(--decoration-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decoration-color);
  border-inline-end: 1px solid var(--decoration-color);
}

.secret {
  position: relative;
  display: contents;
}

.secret::before {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--main-accent-color);
  box-shadow: 0 0 4px 2px var(--main-title-shadow-color);
  position: absolute;
  z-index: 1;
  top: 28px;
  right: 28px;
}

.secret::after {
  content: "rec";
  text-transform: uppercase;
  font-weight: 400;
  line-height: 25px;
  color: var(--main-accent-color);
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 50px;
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-item {
  inline-size: 70px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  color: var(--button);
  text-align: center;
  padding: 0 12px;
  background-color: transparent;
  border: 0px;
}

.header__theme-menu-button:focus {
  outline: 0px;
}

.header__theme-menu-button:focus-visible {
  outline-offset: 1px;
  border-block-end: 1px solid var(--button);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button);
  pointer-events: none;
}

.header__title {
  position: relative;
  right: 20px;
  align-self: center;
}

.header__title-logo {
  color: var(--main-title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 4px 4px 0px var(--main-title-shadow-color);
  font-weight: 700;
  line-height: 0.825;
}

.header__subtitle {
  inline-size: min(50%, 490px);
  place-self: center end;
  font-family: var(--bold-font);
}

.subtitle {
  font-weight: 700;
  font-size: inherit;
  background-color: var(--main-accent-color);
  color: var(--subtitle-font-color);
  margin-block-end: 10px;
}

.main-content {
  margin-block-end: 60px;
}

.main-content:last-child {
  margin-block-end: 30px;
}

.main-content_section {
  padding: 0 20px;
}

.main-content_section:not(:last-of-type) {
  margin-block-end: 80px;
}

.section-row {
  display: grid;
  grid-template-columns: fit-content(315px) 1fr;
  gap: 20px;
}

.main-content-section_title {
  font-size: inherit;
  font-weight: 700;
  max-inline-size: 315px;
  color: var(--section-color);
}

.section-row-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-column {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 20px;
}

.section-column-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--main-accent-color);
}

.link:hover {
  border-block-end: 1px solid var(--main-color);
}

.link:focus {
  outline: 1px solid var(--main-color);
}

.li-title {
  background-color: var(--main-accent-color);
  color: var(--subtitle-font-color);
  font-size: inherit;
  font-weight: 400;
  margin-block-end: 10px;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-block-start: 10px;
}

.picture {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.sunset {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.ice-cream {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.tape {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.books {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.street {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.footer {
  max-inline-size: 1440px;
  block-size: max(668px, 100vh);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*Tablets
Не понимаю как сделать картинки как в макете для этого экрана. Там расхождения не очень большие,
но заметные, да. У меня вообще нет идей. Можете намекнуть, пожалуйста? */
@media (768px <= width < 1024px) {
  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .header__theme-menu {
    place-self: center end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 5px;
    padding-inline-end: 20px;
  }

  .header__theme-menu-item {
    inline-size: 50px;
    block-size: 32px;
  }

  .header__title {
    align-self: start;
  }

  .header__subtitle {
    place-self: center end;
  }

  .header__title-logo {
    text-shadow: 4px 4px 0px var(--main-accent-color);
  }

  .main-content-section_title {
    max-inline-size: 236px;
  }

  .subtitle_margin {
    margin-block-start: 10px;
  }

  .section-row {
    grid-template-columns: fit-content(236px) 1fr;
  }

  .section-column {
    display: flex;
    flex-direction: column;
  }


}

/*Mobile*/
@media (width < 768px) {
  .header {
    padding: 10px;
    margin-block-end: 40px;
  }

  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .secret::before {
    top: 19px;
    right: 20px;
  }

  .secret::after {
    top: 10px;
    right: 38px;
  }

  .header__theme-menu {
    block-size: 100px;
    place-self: center end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 7px;
  }

  .header__theme-menu-item {
    block-size: 30px;
  }

  .header__title {
    position: static;
    align-self: center;
  }

  .header__title-logo {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    text-shadow: 4px 4px 0px var(--main-accent-color);
  }

  .header__subtitle {
    margin-block-start: 15px;
    inline-size: 100%;
    align-self: center;
  }

  .subtitle {
    margin-block-end: 10px;
  }

  .main-content {
    margin-block-end: 32px;
  }

  .main-content_section {
    padding: 0 10px;
  }

  .main-content_section:not(:last-of-type) {
    margin-block-end: 50px;
  }

  .section-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section-column-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main-content-section_title {
    max-inline-size: 100vw;
  }

  .subtitle_margin {
    margin-block-start: 10px;
  }

  .images {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .picture {
    max-inline-size: 90vh;
    object-fit: contain;
  }
}
